.hero{
    background-image: url(../../../src/imgs/anp/hero.jpeg);
}

.anpName,.anpName:hover,li:hover{
    text-decoration: none;
    cursor: text;
    padding: 0px;
}

.div-date{
    background-color: #410d1c;
    background-image: url(../../src/imgs/textCard.svg);
    background-repeat: repeat;
    background-size: 4vw;
    background-position: left;
    background-attachment: initial;
    height: 20vw;
    padding: 8vw 30px 0px 0px;
}

.div-event{
    background-color: #235B4E;
    background-image: url(../../src/imgs/textCard.svg);
    background-repeat: repeat;
    background-size: 4vw;
    background-position: right;
    background-attachment: initial;
    height: 20vw;
    color: white;
    line-height: 20px;
    padding: 7.8vw 0px 0px 30px;
}

.text-dia{
    color: rgba(255,255,255,0.7);
    text-align: right;
    font-size: 1.3vw;
    line-height: 25px;
}

.text-año{
    color: white;
    text-align: right;
    font-size: 5vw;
    line-height: 60px;
}

.event-zone{
    font-size: 2vw;
    line-height: 2.2vw;
}

.anpName,a,li  {
    cursor: pointer;
}

@media screen and (orientation:  portrait) {
    .text-dia{
        font-size: 1.56vw;
        line-height: 15px;
    }
    
    .text-año{
        font-size: 6vw;
        line-height: 30px;
    }
    
    .event-zone{
        font-size: 2.2vw;
        line-height: 1.1vw;
    }
}