.hero{
    background-image: url(../../../src/imgs/canal/hero.jpg);
}

.ytVideo{
    width: 100%;
    height: 60%;
}

@media screen and (orientation:  portrait) {

    .ytVideo{
        height: 30%;
    }
}